@import "../../../../../styles/constants/constant.css";
@import "../../../../../index.css";

.post-popup__container {
  width: 100%;
  height: 100vh;

  padding: 0 5rem;

  top: 0;
  left: 0;
  position: fixed;
  background: var(--light-dark);

  z-index: 3;
}

.post-popup__container form {
  background: var(--color-primary);

  padding: 1rem;

  width: 45rem;
  height: max-content;

  overflow: auto;

  border-radius: var(--card-border-radius);
}

/* TITLE */

.post-popup__container form .form__title-icon {
  cursor: pointer;

  color: var(--white);
}

/* NAME */
.post-popup__container form .form__name .avatar {
  display: block;

  width: 5rem !important;
  height: 5rem !important;

  border-radius: 50%;

  overflow: hidden;
}

.post-popup__container form .form__name .avatar img {
  object-fit: cover;
}

.post-popup__container form .form__status {
  width: fit-content;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  background: var(--color-primary-light);
}

.post-popup__container form .form__status select {
  background: transparent;
  color: white;

  width: 6rem;

  margin-left: 1rem;

  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;

  display: block;
}

.post-popup__container form .form__status select option {
  color: black;
}

/* INPUT FORM */
.post-popup__container form .form__input {
  width: 100%;
}

.post-popup__container form .form__input .input {
  margin-top: 1rem;
  padding: 1rem;

  font-size: 1.5rem;

  overflow-y: auto;
  overflow-wrap: break-word;

  background: var(--color-white);
  color: var(--color-dark);

  border: transparent;
  outline: none;
}

.post-popup__container form .form__input span {
  top: 50%;
  right: 1%;
  transform: translateY(-50%);

  font-size: 2.5rem;
  color: var(--white);

  position: absolute;
}

/* DRAG IMAGE */
.post-popup__container form .form__drag-image {
  width: fit-content;

  font-weight: lighter;
  color: var(--white);
}

/* POST BTN */
.post-popup__container form .form__post-btn:disabled:hover {
  cursor: default;
}

.post-popup__container form .form__post-btn:not(:disabled):hover {
  background: var(--color-primary-light);
  color: var(--white);
}
