@import "./personal.css";
@import "./notification.css";
@import "./messages.css";

@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    grid-template-columns: 0 auto 5rem !important;
    gap: 0;
  }

  main .container .left {
    grid-column: 3/4;

    right: 0;
    bottom: 0;
    position: fixed;
  }

  /* =========================== notification POPUP =========================== */
  .left .notification-popup::before {
    display: block;

    top: 1.3rem;
    left: calc(30rem - 0.6rem) !important;
    position: absolute;
  }

  main .container .middle {
    grid-row: 1/3;
    grid-column: 1/3;

    margin-top: 2rem;
  }

  main .container .right {
    display: none !important;
  }
}
