@import "../../../../styles/constants/constant.css";

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: var(--btn-padding);

  font-size: 1rem;
  font-weight: 500;

  border-radius: var(--border-radius);

  cursor: pointer;

  transition: all 300ms ease;
}

.btn:hover {
  opacity: 0.8;
}

/* -----------------NAVBAR----------------- */
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  top: 0;
  position: fixed;

  width: 100%;

  /* z-index: 10; */

  background-color: var(--color-primary);
}

nav .search-bar {
  background-color: var(--color-light);

  border-radius: var(--border-radius);

  padding: var(--search-padding);

  margin: 0;
}

nav .search-bar input[type="search"] {
  background: transparent;

  width: 20vw;

  border: none;
  outline: none;

  font-size: 1.3rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

nav .nav__btn {
  background-color: var(--color-light);

  padding: 0.5rem;

  min-width: 6em;
  height: 20%;

  border: 1px solid white;
  border-radius: 2rem;
}

nav .nav__btn:hover {
  color: white;

  background: var(--color-primary-light);
}

.header-navbar {
  z-index: 999;
}

.logo {
  font-size: 2rem;
  font-weight: bold;

  color: white;
}

.logo:hover {
  color: white;
}

.btn-focus-none:focus {
  outline: none;
}
