@import "./home.css";
@import "./layout/navbar.css";

@media screen and (max-width: 445px) {
  .navbar {
    width: 130%;
  }

  .customize-theme {
    width: 130vw !important;
    height: 113vh !important;
  }

  .customize-theme .card {
    width: 120vw !important;
  }

  .header-title .header-title-container .avatar {
    width: 6.25rem !important;
    height: 6.25rem !important;
  }
}
