@import "../../../../styles/constants/constant.css";
@import "../../../../styles/animations/snackbar.css";

/* TITLE PROFILE */

.header-title {
  margin-top: -2rem;
}

.header-title .header-title-container .avatar {
  width: 15.25rem;
  height: 15.25rem;

  border-radius: 50%;
  overflow: hidden;

  background: var(--color-primary);
}

.header-title .header-title-container .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.header-title .header-title-container .edit-avatar {
  bottom: 0;
  right: 6%;
  color: #fff;

  background: rgb(36, 37, 38);
}

.header-title .header-title-container .avatar:hover img,
.header-title .header-title-container .edit-avatar:hover {
  cursor: pointer;
}

.header-title .header-title-container .name {
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
  font-weight: bold;
}

.header-title .header-title-container .friends {
  font-size: 1.5rem;
}

.header-title-container .avatar-friends {
  width: 4em;
  height: 4em;

  overflow: hidden;

  background-color: #fff;
}

.header-title-container .avatar-friends:hover img {
  opacity: 0.9;

  border: 2px solid var(--color-primary);

  cursor: pointer;
}

.header-title-container .avatar-friends:not(:first-child) {
  margin-left: -1em;
}

.header-title-container .add-stories {
  font-weight: bold;
  font-size: 1.2em;

  background: var(--color-primary);

  width: 10em;
  cursor: pointer;
}

.header-title-container .add-stories:hover {
  opacity: 0.8;
}

.header-title-container .msg-btn {
  width: 3.8em;
  height: 3.8em;

  border: 1.8px solid var(--color-dark);

  cursor: pointer;
}

.header-title-container .msg-btn:hover {
  background: var(--black);
  color: var(--white);
}
