@import "../../../styles/constants/constant.css";

.form-background {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  font-size: 1.5rem;
}

#register-form,
#login-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  border-radius: var(--card-border-radius);

  width: 50rem;
  height: fit-content;

  background-color: var(--color-white);

  padding: 1.4em;
}

#register-form > section,
#login-form > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Title */

#register-form .register-form__title,
#login-form .login-form__title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  width: 100%;

  font-size: 1.6em;
  font-weight: bold;
  color: var(--color-primary);
}

/* Body */

#register-form .register-form__container,
#login-form .login-form__container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#register-form .register-form__container-body,
#login-form .login-form__container-body {
  width: 100%;
}

#register-form .register-form__input,
#login-form .login-form__input {
  width: 100%;

  margin-bottom: 1em;
}

#register-form .register-form__input > div,
#login-form .login-form__input > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

#register-form .register-form__input > div > p,
#login-form .login-form__input > div > p {
  width: 100%;

  margin-top: 1rem;
  padding: 1rem;

  background: rgb(232, 89, 89);

  border-radius: 0.5rem;
}

.register-form__input > div > p > .fa-circle-info,
.login-form__input > div > p > .fa-circle-info {
  margin-right: 1rem;
}

#register-form .register-form__input label,
#login-form .login-form__input label {
  cursor: pointer;
}

#register-form .register-form__input input,
#login-form .login-form__input input {
  width: 100%;

  margin-top: 0.3em;
  padding: 0.5em;

  border-radius: 0.5rem;
  border: none;
  outline: none;
}

#register-form .register-form__input input::placeholder,
#login-form .login-form__input input::placeholder {
  font-size: 0.7em;
}

#register-form .register-form__input input:focus,
#login-form .login-form__input input:focus {
  outline: 4px solid var(--color-primary);
}

#register-form .register-form__container button[type="submit"],
#login-form .login-form__container button[type="submit"] {
  margin: 1rem 0 1em;
  padding: 0.3em 1em;

  cursor: pointer;

  font-weight: bold;

  border-radius: 0.5rem;

  background: var(--color-primary);

  color: white;

  width: 100%;
}

#register-form .register-form__container button[type="submit"]:disabled,
#login-form .login-form__container button[type="submit"]:disabled {
  opacity: 0.8;

  cursor: not-allowed;
}

#register-form .register-form__container button[type="submit"]:not(:disabled),
#login-form .login-form__container button[type="submit"]:not(:disabled) {
  background: var(--color-primary);
}

#register-form .register-form__container button[type="submit"]:hover,
#login-form .login-form__container button[type="submit"]:hover {
  color: white;

  opacity: 0.8;
}

/* Footer */

#register-form .register-form__container .register-form__footer,
#login-form .login-form__container .register-form__footer {
  display: flex;
  align-items: center;
  margin-right: 0;
  /* Remove redundant margin */
}

#register-form .register-form__container .register-form__footer p,
#login-form .login-form__container .register-form__footer p {
  margin-right: 0;
  /* Remove redundant margin */
}

#register-form .register-form__container .register-form__footer a,
#login-form .login-form__container .register-form__footer a {
  font-weight: bold;
  color: var(--color-primary);
  font-size: 0.8em;
}

#register-form .register-form__container .register-form__footer a:hover,
#login-form .login-form__container .register-form__footer a:hover {
  text-decoration: underline;
}

/* CHECK VALID */

.instructions {
  border-radius: 0.5rem;

  background: #000;

  color: #fff;

  padding: 0.25rem;

  bottom: -10px;
  position: relative;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  left: -9999px;
  position: absolute;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;

  font-weight: bold;
  color: firebrick;

  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
